@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/FiraMono-Regular.ttf');
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  font-family: 'Fira Mono', monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main svg {
  width: 100%;
  height: 100%;
}

footer {
  height: 3em;
  border-top: 1px solid #444;
  padding: 0 2em;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .actions {
  height: 100%;
}

.actions button {
  height: 100%;
  padding: 0 3em;
  font-family: 'Fira Mono', monospace;
  cursor: pointer;
  background-color: unset;
  border: none;
}

.actions button:hover {
  background-color: blueviolet;
}
