@font-face {
  font-family: 'Fira Mono';
  src: url('./assets/FiraMono-Regular.ttf');
}

:root {
  --bg: #fafafa;
  --bg1: #e9e0fd;
  --fg: #06144a;
  --fg1: #0c208e;
  --accent: #e5c53d;
  --accent1: #f0db7f;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
  font-family: 'Fira Mono', monospace;
  background-color: var(--bg);
  color: var(--fg);
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

main svg {
  width: 100%;
  height: 100%;
}

footer {
  height: 3em;
  border-top: 1px solid var(--fg);
  padding: 0 2em;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .actions {
  height: 100%;
}

.actions button {
  height: 100%;
  padding: 0 3em;
  font-family: 'Fira Mono', monospace;
  cursor: pointer;
  background-color: unset;
  border: none;
  color: var(--fg);
}

.actions button:hover {
  background-color: var(--accent);
}

.vertex,
.new-vertex,
.edge-control-point {
  cursor: move;
}

.edge-control-point {
  fill: var(--fg);
}

.vertex-outer {
  fill: var(--fg);
}

.edge-path {
  stroke: var(--fg);
}

.vertex-inner {
  fill: var(--bg);
}

.vertex.selected .vertex-inner {
  fill: var(--accent);
}

.vertex.hovered .vertex-inner {
  fill: var(--accent1);
}

.new-vertex .vertex-outer {
  fill: var(--fg);
}

.box-selection {
  fill: none;
  stroke: var(--fg);
}
